body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
}

/* HEADER */
.header {
  background: linear-gradient(to right, #ff4d6d, #ff8fa3);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

/* NAVBAR */
.navbar {
  background-color: black;
  padding: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff4d6d;
}

/* HERO */
.hero {
  text-align: center;
  padding: 30px;
}

.main-img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* BUTTON */
button {
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #e63950;
}

/* ABOUT */
.about {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
